*{
    margin: 0;
    padding: 0;
}

/* shared styles */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}
.line-height{
    line-height: 24px;
}
.dark-1{
    color: #0E0E0E;
}
.dark-2{
    color: rgba(14, 14, 14, 0.7);
}
.dark-3{
    color: rgba(14, 14, 14, 0.8);
}
.dark-4{
    color: rgba(14, 14, 14, 0.6);
}


.main-bg{
    background-color: #F1F1F3;
}
.secondery-bg{
    background-color: #C6E4D6;
}

.btn-primary{
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    padding: 13px 26px;
}

/* shared bg color for cards */
.bg-card-1{
    background-color: rgba(84, 144, 245, 0.2);
}
.bg-card-2{
    background-color: rgba(198, 228, 214, 1);
}
.bg-card-3{
    background-color: rgba(247, 235, 207, 1);
}



/* navbar styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 180px;
}
.nav-title{
    font-weight: bold;
    font-size: 32px;
}
.nav-btn{
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
    padding: 15px 30px;
    background-color: white;
    border: 2px solid #006A50;
    border-radius: 8px;
}


/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 80px 60px;
    border-radius: 24px;
}
.banner-content{
    /* width: 620px; */
    /* margin-left: 60px; */
}
.banner-title{
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}
.banner-description{
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 24px;
}
.banner-btn{
    font-size: 18px;
    padding: 17px 34px;
}
.banner-img{
    width: 475px;
}


/* main styles */
main{
    max-width: 1280px;
    margin: 0 auto;
}

/* section-1 and section-2 styles */
.sec-1, .sec-2{
    margin-top: 80px;
}
.sec-1-title, .sec-2-title, .sec-5-title, .sec-6-title, .sec-7-title{
    font-weight: bold;
    font-size: 40px;
}
.sec-2-description{
    font-weight: normal;
    font-size: 16px;
    margin-top: 24px;
}
.sec-2-cards{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 32px auto;
}
.sec-2-card{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    border-radius: 16px;
}
.sec-2-card-content{
    width: 345px;
}
.sec-2-card-img{
    width: 64px;
}
.sec-2-card-title{
    font-weight: bold;
    font-size: 20px;
    margin-top: 24px;
}
.sec-2-card-description{
    font-weight: normal;
    font-size: 16px;
    margin-top: 12px;
}
.sec-2-card-btn-1{
    background-color: #5490F5;
    padding: 11px 20px;
}
.sec-2-card-btn-2{
    background-color: #09A15C;
    padding: 11px 20px;
}
.sec-2-card-btn-3{
    background-color: #FFC239;
    padding: 11px 20px;
}


/* section 3 styles */
.sec-3{
    max-width: 1232px;
    margin: 0 auto;
    padding: 48px 24px;
    background-color: white;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 24px;
}
.quote, .designation{
    font-weight: normal;
    font-size: 16px;
}
.author{
    font-weight: 600;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 4px;
}


/* section 5 styles */
.sec-5{
    margin: 80px auto;
}

.sec-5-title{
    margin-bottom: 24px;
}
.sec-5-description{
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 32px;
}
.sec-5-card h1{
    font-weight: bold;
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
}

.sec-5-cards{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.sec-5-card{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    max-width: 1184px;
    padding: 48px;
    background-color: white;
    border-radius: 24px;
}
.sec-5-card img{
    width: 408px;
    border-radius: 24px;
}
.sec-5-card-content img{
    width: 134px;
    border-radius: 0;
}
.sec-5-card-content p{
    font-weight: normal;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.sec-5-card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px auto;
}
.sec-5-card-content-child{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.date-time{
    display: flex;
    gap: 12px;
}
.sec-5 button {
    font-size: 18px;
}


/* section 6 styles */
.sec-6{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    gap: 32px;
}
.sec-6-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.sec-6-description{
    text-align: center;
    width: 88%;
    font-weight: normal;
    font-size: 16px;
}
.sec-6-cards{
    display: flex;
    gap: 24px;
}
.sec-6-card{
    padding: 40px;
    border-radius: 16px;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    background-color: white;
    border: 2px solid rgba(14, 14, 14, 0.15);
}
.sec-6 textarea{
    resize: none;
    width: 77%;
    padding: 20px;
    border: none;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
    color: rgba(14, 14, 14, 0.8);
}

.sec-6 textarea::placeholder{
    font-weight: normal;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    padding-top: 10px;
}
.sec-6-btn{
    /* display: inline-block; */
    /* position: absolute; */
}
.sec-6 button{
    padding: 17px 34px;
    font-weight: 600;
    font-size: 18px;
}

/* section 7 styles */
.sec-7{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 1080px;
    margin: 80px auto;
    padding: 80px 100px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.sec-7-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}
.sec-7-description{
    width: 75%;
    font-weight: normal;
    font-size: 16px;
}
.sec-7-form{
    display: flex;
    gap: 0;
    width: 75%;
}
.sec-7 button{
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 0px 8px 8px  0px;
    font-weight: 600;
    font-size: 18px;
    padding: 17px 34px;
    transform: none;
}

.sec-7-form input{
    width: 80%;
    outline: none;
    border: none;
    border-radius: 8px 0px 0px 8px;
    padding-left: 40px;
    color: rgba(14, 14, 14, 0.8);
}
.sec-7-form::placeholder{
    color: rgba(14, 14, 14, 0.3);
    font-weight: normal;
    font-size: 16px;
}
.spam{
    font-weight: normal;
    font-size: 16px;
}

/* hover effects */
.nav-btn:hover{
    background-color: #006A50;
    color: white;
    border: 2px solid #006A50;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 30px;
}

.btn-primary:hover{
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
    padding: 15px 30px;
    background-color: white;
    border: 2px solid #006A50;
    border-radius: 8px;
    transform: scale(1.1);
}

.sec-2 button:hover{
    padding: 9px 16px;
    font-size: 16px;
}

.sec-2-card-btn-1:hover{
    background-color: white;
    color: #5490F5;
    border: 2px solid #5490F5;
}
.sec-2-card-btn-3:hover{
    background-color: white;
    color: #FFC239;
    border: 2px solid #FFC239;
}
.sec-2-card:hover{
    background-color: white;
}
.sec-5 button:hover{
    padding: 11px 22px;
    transform: scale(1.1);
}
/* .sec-5-card:hover{
    background-color: #F1F1F3;
} */

.sec-6-card:hover{
    background-color: #C6E4D6;
}
.sec-6 button:hover{
    padding: 16px 30px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 1px;
}
textarea:focus{
    /* border: 2px solid #006A50; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.sec-7 button:hover{
    background-color: white;
    color: #006A50;
    border: 2px solid #006A50;
    border-radius: 0px 8px 8px  0px;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 32px;
    transform: none;
    margin-top: 1px;
}